In [1]:
'''Let's assign  a  a value of 5. Use the equality 
operator denoted with two equal == signs to determine 
if two values are equal. The case below compares the variable a with 6.'''
a = 5
a == 6

False

In [2]:
# Greater than Sign

i = 6
i > 5

True

In [3]:
i = 2
i > 5

False

In [4]:
#inequality operator
 
i = 2
i != 6

True

In [5]:
 
i = 6
i != 6

False

In [6]:
'''We can apply the same methods on strings. 
For example, we can use an equality operator on two different strings. 
As the strings are not equal, we get a False.'''

"ACDC" == "The Bodyguard"

False

In [7]:
"ACDC" != "The Bodyguard"

True

In [ ]:
'a'<'b' #This is based on the ASCII 
'''For example, the ASCII code for ! is 33, while the ASCII code for + is 43.
 Therefore + is larger than ! as 43 is greater than 33.'''

True

In [ ]:
'BA' > 'AB' #Case Sensitivity

True

:

#Branching 
If Else Statement

In [1]:
age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [2]:
age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [5]:
album_year = 1983
# album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

Album year is greater than 1980
do something..

##Logical Operator

In [7]:
'''NOT:- reverse
AND :- if one condition is false, the whole expression is false
OR :- if one condition is true, the whole expression is true'''

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [8]:
album_year = 1980

if(album_year > 1979) or (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

In [9]:
not(True)

False

In [ ]:
'''Write a Python program to check if a player Lionel Messi has more than 10 achievements. 
If the condition is true, print the player's name, sport, and achievements else print does not have more than 10 achievements.'''


player_name = "Lionel Messi"
Achievement =11

if(player_name=="Lionel Messi")and(Achievement>10):
    print("Player name=",player_name ,"Sports:= Soccer")

Player name= Lionel Messi Sports:= Soccer

In [16]:
'a'=='A'

False