In [5]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

add(1)

1 if you add one 2

2

In [6]:
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

In [7]:
add(2)

2 if you add one 3

3

In [8]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [9]:
Mult(2, 3)

6

In [10]:
#Float Multiplication
Mult(10,3.14)

31.400000000000002

In [12]:
#string Multiplication
Mult(2, "The BodyGuard ")

'The BodyGuard The BodyGuard '

In [13]:
def square(a):
    
    # Local variable b
    b = 1
    c = a * a + b
    print(a, "if you square + 1", c) 
    return(c)

In [14]:
x = 3
# Makes function call and return function a y
y = square(x)
y

3 if you square + 1 10

10

In [15]:
square(4)

4 if you square + 1 17

17

In [16]:

def MJ():
    print('The BodyGuard')
    
def MJ1():
    print('The BodyGuard')
    return(None)

In [17]:
MJ()

The BodyGuard

In [18]:
MJ1()

The BodyGuard

In [19]:
print(MJ())
print(MJ1())

The BodyGuard
None
The BodyGuard
None

In [20]:
def con(a, b):
    return(a + b)
con('Himanshu', ' Kumar')

'Himanshu Kumar'

Consider the two lines of code in Block 1 and Block 2: the procedure for each block is identical. The only thing that is different is the variable names and values.

In [21]:
a1 = 4
b1 = 5
c1 = a1 + b1 + 2 * a1 * b1 - 1
if(c1 < 0):
    c1 = 0 
else:
    c1 = 5
c1

5

In [22]:
a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 * b2 - 1
if(c2 < 0):
    c2 = 0 
else:
    c2 = 5
c2

0

In [23]:
def Equation(a, b):
    c = a + b + 2 * a * b - 1
    if(c < 0):
        c = 0 
    else:
        c = 5
    return(c)

In [26]:
print(Equation(4, 5))
print(Equation(0, 0))

5
0

In [27]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

[10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5]

In [28]:
# Build-in function print()

album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(sum(album_ratings))

70.0

In [29]:
len(album_ratings)

8

In [31]:
#You will see below will return an error as integer alone is not considered while using a function.It either has to be in the form of tuple, list or a set.

sum(1,2)

TypeError: 'int' object is not iterable

In [32]:
# Define a tuple
a = (1, 2)

# Pass the tuple to the sum function and store the result in a variable
c = sum(a)

# Print the result
print(f"The sum of the elements in the tuple {a} is {c}.")

The sum of the elements in the tuple (1, 2) is 3.

In [33]:
# Define a tuple
a = [1, 2]

# Pass the tuple to the sum function and store the result in a variable
c = sum(a)

# Print the result
print(f"The sum of the elements in the list {a} is {c}.")

The sum of the elements in the list [1, 2] is 3.

In [36]:
# Function example

def type_of_album(album, year_released):
    
    print(album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("The BodyGuard", 1980)
print(x)

The BodyGuard 1980
Oldie

In [40]:
#We can use a loop in a function. For example, we can print out each element in a list:



def PrintList(the_list):
    for element in the_list:
        print(element)

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

#QUIZ

In [41]:
#Come up with a function that divides the first input by the second input:
def division(a,b):
    c=a/b
    return c
division(10, 2)

5.0

In [43]:
#Use the function con for the following question.
def con(a, b):
    return(a + b)
con("Himanshu"," Pathak")

'Himanshu Pathak'

In [46]:
#Can the con function we defined before be used to concatenate lists or tuples?
print(con(['a', 1], ['b', 1]))
print(con(('a', 10), ('b', 1)))

['a', 1, 'b', 1]
('a', 10, 'b', 1)

In [55]:
#Write a function code to find total count of word little in the given string:

string="Mary had a little lamb Little lamb, little lamb Mary had a little lamb." \
"Its fleece was white as snow And everywhere that Mary went Mary went," \
" Mary went Everywhere that Mary went The lamb was sure to go"

def count_word(word, string):
    count=0
    for w in string.split():
        if w.lower() in word.lower():
            count += 1
    return count

In [56]:
count_word("little", string)

4

In [57]:
#Compare Two Strings Directly using in operator
# add string
string= "The BodyGuard is the best album"

# Define a funtion
def check_string(text):
    
# Use if else statement and 'in' operatore to compare the string
    if text in string:
        return 'String matched'
    else:
        return 'String not matched'

check_string("The BodyGuard is the best")

'String matched'

In [58]:
def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [59]:
isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

In [63]:
album = "The BodyGuard" # Global variable
def printer1(album):
    internal_var1 = "Thriller"
    print(album, "is an album")
    
printer1(album)
#printer1(internal_var1)

The BodyGuard is an album

In [64]:
album = "The BodyGuard"

def printer(album):
    global internal_var 
    internal_var= "Thriller"
    print(album,"is an album")

printer(album) 
printer(internal_var)

The BodyGuard is an album
Thriller is an album

In [66]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
print(" ")
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone

No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [69]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

In [70]:
def addItems(list):
    list.append("Three")
    list.append("Four")

myList = ["One","Two"]

addItems(myList)

myList

['One', 'Two', 'Three', 'Four']